<ion-header>
  <ion-toolbar>
    <ion-title>showBatch</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>Name : {{ this.wineBatch.name }}</ion-item>
  <ion-item>Country : {{ this.wineBatch.country }}</ion-item>
  <ion-item>Vineyard : {{ this.wineBatch.vineyard }}</ion-item>
  <ion-item>Number : {{ this.wineBatch.numberOfBottle }}</ion-item>
  <ion-item>Year : {{ this.wineBatch.year }}</ion-item>
  <ion-item>Date added : {{ dateAdded }}</ion-item>
  <img [src]="QRCode" alt="Select Image" />
</ion-content>