<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/settings">
        <ion-icon name="build"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      GlouGlou
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.toaster.showToast(this.lup.lastUpdate)">
        {{ this.connectionState }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let batch of wineBatches">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{ batch.name }}
          </ion-col>
          <ion-col size="3">
            <ion-button color="danger" expand="full" (click)="removeBatch(batch.uuid)">Delete</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button expand="full" (click)="showBatch(batch.uuid)">View batch
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/new-batch">Add a new batch</ion-button>
      </ion-col>
      <!--  As button is used in place of a ion-resfresher because everything is hided behind the header  -->
      <ion-col>
        <ion-button color="secondary" expand="full" (click)="refresh()">Resfresh list</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" expand="full" (click)="scan()">Scan QR code</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>