<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>API URL</ion-label>
    <ion-input [(ngModel)]="apiUrl" type="text" (change)="onApiUrlChanged(apiUrl)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select (ionChange)="onThemeChanged(theme)" [(ngModel)]="theme">
      <ion-select-option value="autumn">Autumn</ion-select-option>
      <ion-select-option value="night">Night</ion-select-option>
      <ion-select-option value="neon">Neon</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>